# Sanity Studio Configuration
SANITY_STUDIO_PROJECT_ID=w2r65fb5
SANITY_STUDIO_DATASET=production

# Optional: API Version
SANITY_STUDIO_API_VERSION=2024-01-01

# Optional: Preview URL for frontend
SANITY_STUDIO_PREVIEW_URL=http://localhost:3000
